{% block head %}
    <link rel="stylesheet" href="/static/css/color.css" />
{% endblock %}

<h2>Blue</h2>
<div class='flex--x gap--2'>
    {% for color in params.colors %}
        {% if 'blue' in color %}
            <div class='flex--y flex-align--y gap--1'>
                <div class='border--full width--7 height--7 background-{{ color }}'></div>
                <div class='color-name'>{{ color }}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<h2>Green</h2>
<div class='flex--x gap--2'>
    {% for color in params.colors %}
        {% if 'green' in color %}
            <div class='flex--y flex-align--y gap--1'>
                <div class='border--full width--7 height--7 background-{{ color }}'></div>
                <div class='color-name'>{{ color }}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<h2>Red</h2>
<div class='flex--x gap--2'>
    {% for color in params.colors %}
        {% if 'red' in color %}
            <div class='flex--y flex-align--y gap--1'>
                <div class='border--full width--7 height--7 background-{{ color }}'></div>
                <div class='color-name'>{{ color }}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<h2>Orange</h2>
<div class='flex--x gap--2'>
    {% for color in params.colors %}
        {% if 'orange' in color %}
            <div class='flex--y flex-align--y gap--1'>
                <div class='border--full width--7 height--7 background-{{ color }}'></div>
                <div class='color-name'>{{ color }}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>
