<h2>Blue</h2>
<div class='flex-row gap-m'>
    {% for color in params.colors %}
        {% if 'blue' in color %}
            <div class='flex-col gap-s'>
                <div class='rounded-full width-4xl height-4xl bg-{{ color }}'></div>
                <div class='mx-auto'>{{ color }}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<h2>Green</h2>
<div class='flex-row gap-m'>
    {% for color in params.colors %}
        {% if 'green' in color %}
            <div class='flex-col gap-s'>
                <div class='rounded-full width-4xl height-4xl bg-{{ color }}'></div>
                <div class='mx-auto'>{{ color }}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<h2>Red</h2>
<div class='flex-row gap-m'>
    {% for color in params.colors %}
        {% if 'red' in color %}
            <div class='flex-col gap-s'>
                <div class='rounded-full width-4xl height-4xl bg-{{ color }}'></div>
                <div class='mx-auto'>{{ color }}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<h2>Orange</h2>
<div class='flex-row gap-m'>
    {% for color in params.colors %}
        {% if 'orange' in color %}
            <div class='flex-col gap-s'>
                <div class='rounded-full width-4xl height-4xl bg-{{ color }}'></div>
                <div class='mx-auto'>{{ color }}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<h2>Neutral</h2>
<div class='flex-row gap-m'>
    {% for color in params.colors %}
        {% if 'black' in color or 'white' in color or 'gray' in color %}
            <div class='flex-col gap-s'>
                <div class='rounded-full width-4xl height-4xl bg-{{ color }}'></div>
                <div class='mx-auto'>{{ color }}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>
