{% block head %}
    <link rel="stylesheet" href="/static/css/badge.css" />
{% endblock %}

<span class="badge{% if params.variantClass %} {{ params.variantClass }}{% endif %}">{{ params.text }}</span>
