<div class="cards">
    {% for card in params.cards %}
        {{ c("card", {
        "badge": card.badge,
        "title": card.title,
        "intro": card.intro,
        "variantClass": card.variantClass
        }) }}
    {% endfor %}
</div>
