<div class="calls-to-action calls-to-action--{{ params.variantClass }}">
    <div class="title">
        <a aria-labelledby="calls-to-action-{{ params.header}}" href="#"> {{ params.header }}</a>
        {% include "../../../static/svg/arrow.svg" %}
    </div>
    <p id="calls-to-action-{{ params.header }}"> {{ params.body }} </p>
</div>
