a {
    color: var(--fl-linkColor, var(--link-color));
    text-decoration: underline;
}

a:hover {
    color: var(--fl-linkColor, var(--link-hover-color));
}

a:active {
    background: var(--fl-linkColor, var(--link-active-bg));
    box-shadow: 0 0 0 0.3rem var(--fl-linkColor, var(--link-active-bg));
    color: var(--fl-bgColor, var(--link-active-color));
}

a:focus {
    color: var(--fl-linkColor, var(--link-focus-color));
    outline: 0.2rem solid var(--fl-linkColor, var(--link-focus-color));
    outline-offset: 0.3rem;
}

a:focus:active {
    color: var(--fl-bgColor, var(--link-active-color));
}

.bg-green-500 a {
    --link-active-color: var(--fl-bgColor, var(--color-green-800));
    --link-active-bg: var(--fl-linkColor, var(--color-green-300));
    --link-color: var(--fl-linkColor, var(--color-green-800));
    --link-focus-color: var(--fl-linkColor, var(--color-black));
    --link-hover-color: var(--fl-linkColor, var(--color-black));
}

.bg-green-800 a {
    --link-active-color: var(--fl-bgColor, var(--color-green-100));
    --link-active-bg: var(--fl-linkColor, var(--color-green-700));
    --link-color: var(--fl-linkColor, var(--color-green-100));
    --link-focus-color: var(--fl-linkColor, var(--color-green-500));
    --link-hover-color: var(--fl-linkColor, var(--color-green-500));
}
