nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    min-width: 12rem;
}

nav li:nth-child(2) {
    margin-inline-start: auto;
}

nav a {
    --nav-item-border: var(--color-blue-600);
    --nav-item-hover-bg: var(--color-blue-600);
    --nav-item-hover-color: var(--color-white);

    box-shadow: 0 -0.75rem 0 -0.375rem var(--fl-linkColor, var(--nav-item-border)) inset;
    color: var(--fl-linkColor, var(--color-green-800));
    display: block;
    font-weight: 500;
    padding-block: var(--space-m);
    text-align: center;
    text-decoration: none;
    width: 100%;
}

nav a.--insights {
    --nav-item-border: var(--color-blue-600);
    --nav-item-current-border: var(--color-blue-100);
    --nav-item-hover-bg: var(--color-blue-600);
    --nav-item-hover-color: var(--color-white);
    --nav-item-active-bg: var(--color-blue-100);
    --nav-item-active-color: var(--color-green-800);
}

nav a.--practices {
    --nav-item-border: var(--color-green-500);
    --nav-item-current-border: var(--color-green-100);
    --nav-item-hover-bg: var(--color-green-500);
    --nav-item-hover-color: var(--color-green-800);
    --nav-item-active-bg: var(--color-green-100);
    --nav-item-active-color: var(--color-green-800);
}

nav a.--techniques {
    --nav-item-border: var(--color-red-500);
    --nav-item-current-border: var(--color-red-100);
    --nav-item-hover-bg: var(--color-red-500);
    --nav-item-hover-color: var(--color-green-800);
    --nav-item-active-bg: var(--color-red-100);
    --nav-item-active-color: var(--color-green-800);
}

nav a.--activities {
    --nav-item-border: var(--color-orange-500);
    --nav-item-current-border: var(--color-orange-100);
    --nav-item-hover-bg: var(--color-orange-500);
    --nav-item-hover-color: var(--color-green-800);
    --nav-item-active-bg: var(--color-orange-100);
    --nav-item-active-color: var(--color-green-800);
}

nav a[rel="home"] {
    box-shadow: none;
    font-weight: 700;
}

nav a[aria-current="page"] {
    box-shadow: 0 -0.75rem 0 -0.375rem var(--fl-fgColor, var(--nav-item-current-border)) inset;
}

nav a:hover,
nav a:focus,
nav a:active {
    font-weight: 800;
}

nav a:hover {
    background-color: var(--fl-linkColor, var(--nav-item-hover-bg));
    box-shadow: 0 -0.75rem 0 -0.375rem var(--fl-linkColor, var(--nav-item-border)) inset;
    color: var(--fl-bgColor, var(--nav-item-hover-color));
}

nav a:focus,
nav a:focus:hover {
    background-color: var(--fl-bgColor, var(--color-white));
    box-shadow: 0 0 0 0.375rem var(--fl-linkColor, var(--nav-item-border)) inset;
    color: var(--fl-linkColor, var(--nav-item-focus-color));
    outline: transparent;
}

nav a:active,
nav a:active:focus {
    background-color: var(--fl-linkColor, var(--nav-item-active-bg));
    box-shadow: 0 -0.75rem 0 -0.375rem var(--fl-linkColor, var(--nav-item-border)) inset;
    color: var(--fl-bgColor, var(--nav-item-active-color));
}
