:root {
    /* Colors */
    --color-blue-100-hsl: 234, 100%, 96%;
    --color-blue-100: hsl(var(--color-blue-100-hsl));
    --color-blue-300-hsl: 234, 72%, 75%;
    --color-blue-300: hsl(var(--color-blue-300-hsl));
    --color-blue-600-hsl: 234, 62%, 51%;
    --color-blue-600: hsl(var(--color-blue-600-hsl));
    --color-blue-700-hsl: 234, 72%, 39%;
    --color-blue-700: hsl(var(--color-blue-700-hsl));
    --color-green-100-hsl: 162, 38%, 97%;
    --color-green-100: hsl(var(--color-green-100-hsl));
    --color-green-300-hsl: 165, 72%, 89%;
    --color-green-300: hsl(var(--color-green-300-hsl));
    --color-green-500-hsl: 166, 70%, 72%;
    --color-green-500: hsl(var(--color-green-500-hsl));
    --color-green-600-hsl: 165, 54%, 59%;
    --color-green-600: hsl(var(--color-green-600-hsl));
    --color-green-700-hsl: 175, 76%, 23%;
    --color-green-700: hsl(var(--color-green-700-hsl));
    --color-green-800-hsl: 175, 80%, 16%;
    --color-green-800: hsl(var(--color-green-800-hsl));
    --color-red-100-hsl: 0, 100%, 97%;
    --color-red-100: hsl(var(--color-red-100-hsl));
    --color-red-500-hsl: 4, 97%, 69%;
    --color-red-500: hsl(var(--color-red-500-hsl));
    --color-red-600-hsl: 0, 89%, 58%;
    --color-red-600: hsl(var(--color-red-600-hsl));
    --color-orange-100-hsl: 40, 100%, 97%;
    --color-orange-100: hsl(var(--color-orange-100-hsl));
    --color-orange-500-hsl: 29, 95%, 66%;
    --color-orange-500: hsl(var(--color-orange-500-hsl));
    --color-orange-600-hsl: 29, 95%, 56%;
    --color-orange-600: hsl(var(--color-orange-600-hsl));
    --color-white-hsl: 0, 0%, 100%;
    --color-white: hsl(var(--color-white-hsl));
    --color-black-hsl: 0, 0%, 0%;
    --color-black: hsl(var(--color-black-hsl));

    /* Link */
    --link-color: var(--color-blue-600);
    --link-active-color: var(--color-blue-600);
    --link-active-bg: var(--color-blue-100);
    --link-focus-color: var(--color-blue-700);
    --link-hover-color: var(--color-blue-700);

    /* Fonts */
    --font-sans:
        mulish,
        -apple-system,
        blinkmacsystemfont,
        avenir next,
        avenir,
        segoe ui,
        helvetica neue,
        helvetica,
        cantarell,
        ubuntu,
        roboto,
        noto,
        arial,
        sans-serif;
    --font-serif:
        martel,
        iowan old style,
        apple garamond,
        baskerville,
        times new roman,
        droid serif,
        times,
        source serif pro,
        apple color emoji,
        segoe ui emoji,
        segoe ui symbol
        serif;

    /* @link https://utopia.fyi/space/calculator?c=
    320,18,1.2,1240,20,1.25,5,2,&s=0.8|0.5|0.2,1.2|1.5|1.8|3.2|4.5|6,s-l&g=s,l,xl,12 */

    /* Space 3xs: 4px → 4px */
    --space-3xs: clamp(0.25rem, calc(0.25rem + 0vw), 0.25rem);

    /* Space 2xs: 9px → 10px */
    --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);

    /* Space xs: 14px → 16px */
    --space-xs: clamp(0.88rem, calc(0.83rem + 0.22vw), 1rem);

    /* Space s: 18px → 20px */
    --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);

    /* Space m: 22px → 24px */
    --space-m: clamp(1.38rem, calc(1.33rem + 0.22vw), 1.5rem);

    /* Space l: 27px → 30px */
    --space-l: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);

    /* Space xl: 32px → 36px */
    --space-xl: clamp(2rem, calc(1.91rem + 0.43vw), 2.25rem);

    /* Space 2xl: 58px → 64px */
    --space-2xl: clamp(3.63rem, calc(3.49rem + 0.65vw), 4rem);

    /* Space 3xl: 81px → 90px */
    --space-3xl: clamp(5.06rem, calc(4.87rem + 0.98vw), 5.63rem);

    /* Space 4xl: 108px → 120px */
    --space-4xl: clamp(6.75rem, calc(6.49rem + 1.3vw), 7.5rem);

    /* One-up pairs */

    /* Space 3xs-2xs: 4px → 10px */
    --space-3xs-2xs: clamp(0.25rem, calc(0.12rem + 0.65vw), 0.63rem);

    /* Space 2xs-xs: 9px → 16px */
    --space-2xs-xs: clamp(0.56rem, calc(0.41rem + 0.76vw), 1rem);

    /* Space xs-s: 14px → 20px */
    --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);

    /* Space s-m: 18px → 24px */
    --space-s-m: clamp(1.13rem, calc(0.99rem + 0.65vw), 1.5rem);

    /* Space m-l: 22px → 30px */
    --space-m-l: clamp(1.38rem, calc(1.2rem + 0.87vw), 1.88rem);

    /* Space l-xl: 27px → 36px */
    --space-l-xl: clamp(1.69rem, calc(1.49rem + 0.98vw), 2.25rem);

    /* Space xl-2xl: 32px → 64px */
    --space-xl-2xl: clamp(2rem, calc(1.3rem + 3.48vw), 4rem);

    /* Space 2xl-3xl: 58px → 90px */
    --space-2xl-3xl: clamp(3.63rem, calc(2.93rem + 3.48vw), 5.63rem);

    /* Space 3xl-4xl: 81px → 120px */
    --space-3xl-4xl: clamp(5.06rem, calc(4.21rem + 4.24vw), 7.5rem);

    /* Custom pairs */

    /* Space s-l: 18px → 30px */
    --space-s-l: clamp(1.13rem, calc(0.86rem + 1.3vw), 1.88rem);

    /* Custom type scales */
    --fluid-min-width: 320;
    --fluid-max-width: 1240;
    --fluid-screen: 100vw;
    --fluid-bp:
        calc(
            (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
            (var(--fluid-max-width) - var(--fluid-min-width))
        );
    --f--1-min: 12;
    --f--1-max: 14;
    --step--1:
        calc(
            ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
            var(--fluid-bp)
        );
    --f-0-min: 16;
    --f-0-max: 18;
    --step-0:
        calc(
            ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
            var(--fluid-bp)
        );
    --f-1-min: 28;
    --f-1-max: 32;
    --step-1:
        calc(
            ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
            var(--fluid-bp)
        );
    --f-2-min: 36;
    --f-2-max: 52;
    --step-2:
        calc(
            ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
            var(--fluid-bp)
        );
    --f-3-min: 48;
    --f-3-max: 88;
    --step-3:
        calc(
            ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
            var(--fluid-bp)
        );
}

@media screen and (min-width: 1240px) {
    :root {
        --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
}
