/* martel-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: "Martel Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/martel-sans-v12-latin-regular.woff2") format("woff2");
}

/* mulish-regular - latin */
@font-face {
    font-display: swap;
    font-family: Mulish;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/mulish-v12-latin-regular.woff2") format("woff2");
}
