.link-container {
    padding: 2rem;
    width: min-content;
}

a {
    color: var(--fl-linkColor, var(--link-color));
    text-decoration: underline;
}

a:active {
    background: var(--fl-bgColor, var(--link-active-color-bg));
    box-shadow: 0 0 0 0.3em var(--fl-bgColor, var(--link-active-color-bg));
    color: var(--fl-linkColor, var(--link-active-color));
}

a:focus {
    color: var(--fl-linkColor, var(--link-focus-color));
    outline: 3px solid var(--fl-linkColor, var(--link-focus-color));
    outline-offset: 6px;
    outline-width: 3px;
}

a:hover {
    color: var(--fl-linkColor, var(--link-hover-color));
}

.bg-green-500 a {
    --link-active-color: var(--color-green-700);
    --link-active-color-bg: var(--color-green-500);
    --link-color: var(--color-green-700);
    --link-focus-color: var(--color-black);
    --link-hover-color: var(--color-black);
}

.bg-green-700 a {
    --link-active-color: var(--color-green-100);
    --link-active-color-bg: #085852;
    --link-color: var(--color-green-100);
    --link-focus-color: var(--color-green-500);
    --link-hover-color: var(--color-green-500);
}
