/* Border */
.rounded-full {
    border-radius: 50%;
}

/* Flex */
.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* Flex/Grid alignments */
.items-center {
    align-items: center;
}

/* Gap */
.gap-s {
    gap: var(--space-s);
}

.gap-m {
    gap: var(--space-m);
}

/* Height */
.height-3xl {
    height: var(--space-3xl);
}

/* Margin */
.mx-auto {
    margin-inline: auto;
}

/* Prose */
.prose {
    inline-size: 100%;
    max-inline-size: 65ch;
}

/* Width */
.width-3xl {
    width: var(--space-3xl);
}

/* Prose */
.prose {
    inline-size: 100%;
    max-inline-size: 65ch;
}

/* Flow */
.flow > * + * {
    margin-block-start: var(--flow-space, 1em);
}
