:root {
    /* Colors */
    --color-blue-100-hsl: 234, 100%, 96%;
    --color-blue-100: hsl(var(--color-blue-100-hsl));
    --color-blue-600-hsl: 234, 62%, 51%;
    --color-blue-600: hsl(var(--color-blue-600-hsl));
    --color-blue-700-hsl: 234, 72%, 39%;
    --color-blue-700: hsl(var(--color-blue-700-hsl));
    --color-green-100-hsl: 162, 38%, 97%;
    --color-green-100: hsl(var(--color-green-100-hsl));
    --color-green-300-hsl: 165, 72%, 89%;
    --color-green-300: hsl(var(--color-green-300-hsl));
    --color-green-500-hsl: 166, 70%, 72%;
    --color-green-500: hsl(var(--color-green-500-hsl));
    --color-green-600-hsl: 165, 54%, 59%;
    --color-green-600: hsl(var(--color-green-600-hsl));
    --color-green-700-hsl: 175, 80%, 16%;
    --color-green-700: hsl(var(--color-green-700-hsl));
    --color-red-100-hsl: 0, 100%, 97%;
    --color-red-100: hsl(var(--color-red-100-hsl));
    --color-red-500-hsl: 4, 97%, 69%;
    --color-red-500: hsl(var(--color-red-500-hsl));
    --color-red-600-hsl: 0, 89%, 58%;
    --color-red-600: hsl(var(--color-red-600-hsl));
    --color-orange-100-hsl: 40, 100%, 97%;
    --color-orange-100: hsl(var(--color-orange-100-hsl));
    --color-orange-500-hsl: 29, 95%, 66%;
    --color-orange-500: hsl(var(--color-orange-500-hsl));
    --color-orange-600-hsl: 29, 95%, 56%;
    --color-orange-600: hsl(var(--color-orange-600-hsl));
    --color-white-hsl: 0, 0%, 100%;
    --color-white: hsl(var(--color-white-hsl));
    --color-black-hsl: 0, 0%, 0%;
    --color-black: hsl(var(--color-black-hsl));

    /* Fonts */
    --font-system:
        -apple-system,
        blinkmacsystemfont,
        avenir next,
        avenir,
        segoe ui,
        helvetica neue,
        helvetica,
        cantarell,
        ubuntu,
        roboto,
        noto,
        arial,
        sans-serif;
    --font-sans:
        martel,
        -apple-system,
        blinkmacsystemfont,
        avenir next,
        avenir,
        segoe ui,
        helvetica neue,
        helvetica,
        cantarell,
        ubuntu,
        roboto,
        noto,
        arial,
        sans-serif;
    --font-serif:
        mulish,
        iowan old style,
        apple garamond,
        baskerville,
        times new roman,
        droid serif,
        times,
        source serif pro,
        apple color emoji,
        segoe ui emoji,
        segoe ui symbol;

    /* @link https://utopia.fyi/space/calculator?c=
    320,18,1.2,1240,20,1.25,5,2,&s=0.8|0.5|0.2,1.2|1.5,s-l&g=s,l,xl,12 */

    /* Space 3xs: 4px → 4px */
    --space-3xs: clamp(0.25rem, calc(0.25rem + 0vw), 0.25rem);

    /* Space 2xs: 9px → 10px */
    --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);

    /* Space xs: 14px → 16px */
    --space-xs: clamp(0.88rem, calc(0.83rem + 0.22vw), 1rem);

    /* Space s: 18px → 20px */
    --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);

    /* Space m: 22px → 24px */
    --space-m: clamp(1.38rem, calc(1.33rem + 0.22vw), 1.5rem);

    /* Space l: 27px → 30px */
    --space-l: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);

    /* One-up pairs */

    /* Space 3xs-2xs: 4px → 10px */
    --space-3xs-2xs: clamp(0.25rem, calc(0.12rem + 0.65vw), 0.63rem);

    /* Space 2xs-xs: 9px → 16px */
    --space-2xs-xs: clamp(0.56rem, calc(0.41rem + 0.76vw), 1rem);

    /* Space xs-s: 14px → 20px */
    --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);

    /* Space s-m: 18px → 24px */
    --space-s-m: clamp(1.13rem, calc(0.99rem + 0.65vw), 1.5rem);

    /* Space m-l: 22px → 30px */
    --space-m-l: clamp(1.38rem, calc(1.2rem + 0.87vw), 1.88rem);

    /* Custom pairs */

    /* Space s-l: 18px → 30px */
    --space-s-l: clamp(1.13rem, calc(0.86rem + 1.3vw), 1.88rem);

    /* Type scales */
    --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
    --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
    --step-2: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
    --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
    --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
    --step-5: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);
}
