{% block head %}
    <link rel="stylesheet" href="/static/css/link.css" />
{% endblock %}


<div {% if params.variantClass %} class="link-container {{ params.variantClass }}" {% endif %}>
    <a href="#">{{ params.text }}</a>
</div>