{% block head %}
    <link rel="stylesheet" href="/static/css/typography.css" />
{% endblock %}

<div class="prose {{ params.variantClass }}">
    <{{ params.level }}>{{ params.text }}</{{ params.level }}>
</div>
