<div class="flex-col gap-m">
    <div>
        <a href="#" class="pagination pagination-previous {{ params.variantClass }}">
            Previous
            {% include "../../../static/svg/arrow.svg" %}
        </a>
    </div>

    <div>
        <a href="#" class="pagination pagination-next {{ params.variantClass }}">
            Next
            {% include "../../../static/svg/arrow.svg" %}
        </a>
    </div>
</div>