{% if params.variantClass %}
<div class="{{ params.variantClass }}">
    <{{ params.level }}>{{ params.text }}</{{ params.level }}>
</div>
{% else %}
    <{{ params.level }}>{{ params.text }}</{{ params.level }}>
{% endif %}